body {
  height: 100%;
}

.notes-app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#title-input {
  font-size: 2.7rem;
  font-weight: 600;
  outline: none;
}

#title-input,
#content-input {
  width: 100%;
  border: none;
}

#content-input {
  flex: 1;
}
.sidebar {
  border-right: 1px solid gray;
  padding: 1.5rem 1rem;
  width: 20%;
  height: 100%;
}

button {
  background-color: purple;
  color: white;
  border-radius: 0.5rem;
  border: none;
}

.title-and-save {
  display: flex;
}

.save-note,
.delete-note {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
}

.delete-note {
  margin-left: 0.5rem;
}

.create-new {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

.create-new svg {
  height: 20px;
}

.note-item {
  background: lavender;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin-bottom: 0.3rem;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-item:hover {
  background-color: rgba(128, 0, 128, 0.2);
}
